* {
  padding: 0;
  margin: 0;
}

.white {
  background: #fcfcfc;
  border: 2px solid #f0f0f0;
  box-sizing: border-box;
}

.auto-layout {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.dark-blue {
  color: #080029;
}

.body {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 154%;
}

main * {
  margin: 0 auto;
}

.light-blue {
  border: 2px solid #609fff;
  box-sizing: border-box;
  border-radius: 30px;
}

.wight-blue {
  border: 2px solid #d9e8ff;
  box-sizing: border-box;
}

.current-animal {
  pointer-events: none;
}

.blue {
  color: #0f0049;
}
