.main-section {
  width: 1920px;
  height: 845px;
  left: 0;
  top: 0;
  background: #fcfcfc;
}

.head-nav {
  position: relative;
  width: 1800px;
  height: 90px;
  top: 25px;
}

.vertical-line {
  position: absolute;
  height: 86px;
  width: 0px;
  left: 90px;
  top: 0;
  border: 1px solid #f0f0f0;
}

.header-logo {
  position: absolute;
  width: 51.87px;
  height: 40px;
  left: 18.85px;
  top: 25px;
}

.header-navigation {
  position: absolute;
  width: 798px;
  height: 28px;
  left: 184px;
  top: 31px;
}

.navigation-disp {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-navigation > a {
  text-decoration: none;
}

#zoos {
  font-weight: 500;
}

.profile {
  position: absolute;
  left: 1661px;
  top: 19px;
}

.side-bar {
  position: sticky;
  width: 90px;
  height: 630px;
  left: 60px;
  top: 113px;
  border: 2px solid #f0f0f0;
  margin: 0 0;
  background: #fcfcfc;
}

.nav-button {
  position: absolute;
  border: none;
  margin: 0 2px;
  background: transparent;
}

.button-down {
  top: 542px;
}

.animal-navigation {
  position: absolute;
  width: 55px;
  height: 436px;
  top: 95px;
  left: 17px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.animal-page {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  text-decoration: none;
}

.animal-img-position {
  display: flex;
  align-items: center;
}

.main-cam {
  position: absolute;
  width: 1615px;
  height: 643px;
  top: 161px;
  left: 244px;
}

.animal-camera {
  position: absolute;
  width: 1064px;
  height: 599px;
  top: 44px;
}

.animal-camera > iframe {
  position: absolute;
  top: -44px;
}

.zoo-sub {
  position: absolute;
  width: 507px;
  height: 110px;
  left: 1104px;
  top: 0;
}

.animal-profile-avatar {
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 60px;
  background: url(../panda/media/panda-avatar.png);
}

.animal-profile-name {
  font-size: 24px;
  line-height: 28.44px;
}

.animal-profile-name-position {
  position: absolute;
  width: 417px;
  height: 28px;
  left: 90px;
}

.watch {
  position: absolute;
  left: 90px;
  top: 30px;
}

.watch-count {
  position: absolute;
  width: 248px;
  height: 28px;
  left: 115px;
  top: 27px;
}

.animal-profile-line {
  position: absolute;
  width: 420px;
  border: 1px solid #e3e3e3;
  top: 110px;
}

.call-to-donate {
  position: absolute;
  width: 511px;
  height: 291px;
  left: 1104px;
  top: 150px;
}

.donate-header {
  position: absolute;
  width: 510px;
  height: 76px;
  left: 1px;
  top: 0px;
}

.donate-button {
  position: absolute;
  width: 284px;
  height: 61px;
  left: 1px;
  top: 230px;
}
