.interesting-facts-section {
  position: absolute;
  width: 1920px;
  height: 582px;
  left: 0;
  top: 1286px;
}

.interesting-facts-header-container {
  position: absolute;
  width: 512px;
  height: 166px;
  left: 244px;
  top: 0;
}

.interesting-facts-header {
  position: absolute;
  width: 299px;
  height: 52px;
}

.interesting-facts-description {
  position: absolute;
  width: 512px;
  height: 84px;
  left: 0;
  top: 82px;
}
