.interesting-facts-section {
  position: absolute;
  width: 1920px;
  height: 1221px;
  left: 0;
  top: 1286px;
  background: #fcfcfc;
}

#eagle-ver {
  height: 1387px;
}

.interesting-facts-header-container {
  position: absolute;
  width: 512px;
  height: 166px;
  left: 244px;
  top: 0;
}

.interesting-facts-header {
  position: absolute;
  width: 299px;
  height: 52px;
}

.interesting-facts-description {
  position: absolute;
  width: 512px;
  height: 84px;
  left: 0;
  top: 82px;
}

.info-animal-container {
  position: absolute;
  width: 1432px;
  max-height: 922px;
  left: 244px;
  top: 212px;
  display: grid;
  row-gap: 62px;
}

.podinfo-container {
  position: relative;
  width: 1432px;
  height: 238px;
  border-bottom: 1px solid #609fff;
}

#eagle-species {
  height: 154px;
}

#eagle-spec-des {
  height: 56px;
}
#region {
  height: 182px;
}

#eagle-region {
  height: 323px;
}

#nutrition {
  height: 322px;
}

#eagle-nutrition {
  height: 574px;
}

.podinfo-header {
  position: static;
  width: 1418px;
  height: 38px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.podinfo-header > * {
  margin: 0;
}

.podinfo-description {
  position: static;
  width: 1381px;
  height: 140px;
  left: 0;
  top: 0;
  margin: 30px 51px 30px 0px;
}

#habit-descr {
  height: 84px;
}

#eagle-habit-descr {
  height: 224px;
}

#nutrition-descr {
  height: 224px;
}

#eagle-nutrition-descr {
  height: 476px;
}
