.pay-n-feed-section {
  position: absolute;
  width: 1920px;
  height: 1380px;
  top: 2507px;
  background: #fcfcfc;
}

#eagle-pay-and-feed {
  top: 2673px;
}

.pay-n-feed-header {
  position: absolute;
  width: 132px;
  height: 26px;
  left: 428px;
  top: 100px;
}

.pay-n-feed-container {
  position: absolute;
  width: 824px;
  height: 312px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#safe-container {
  left: 428px;
  top: 156px;
}

#delivery-container {
  left: 980px;
  top: 528px;
}

#meeting-container {
  left: 244px;
  top: 887px;
}

.pay-n-feed-container > img {
  margin: 0;
}

.pay-n-feed-container-txt-container {
  width: 456px;
  height: 166px;
  margin: 0;
}

.pay-n-feed-container-txt-container > h3 {
  position: absolute;
  width: 338px;
  height: 52px;
}

#payments {
  width: 440px;
}

#meeting {
  position: absolute;
  width: 363px;
  height: 104px;
}

.pay-n-feed-container-txt-container > p {
  position: absolute;
  width: 456px;
  height: 84px;
  top: 160px;
}

#meeting-des {
  top: 190px;
}

.arrow-container {
  position: absolute;
  width: 194px;
  height: 183px;
}

#second-arrow-container {
  position: absolute;
  width: 328px;
  height: 143px;
  left: 612px;
  top: 690px;
}

#second-arrow-container > img {
  position: absolute;
  width: 240.45px;
  height: 194.46px;
  left: 101.55px;
  top: -15.46px;
}

#first-arrow {
  left: 980px;
  top: 302px;
}

#first-arrow > img {
  position: absolute;
  width: 197px;
  height: 97px;
  left: -78px;
  top: 112.5px;
}
