body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  max-width: 1920px;
  max-height: 860px;
}

.hud {
  position: relative;
  width: 1800px;
  height: 760px;
  left: 60px;
  top: 25px;
}

.online-zoo-head {
  position: absolute;
  visibility: hidden;
}

.x-line {
  width: 1800px;
  height: 90px;
  left: 0;
  top: 0;
}

.logo {
  position: absolute;
  left: 18.85px;
  top: 25px;
}

.white {
  background: #fcfcfc;
  border: 2px solid #f0f0f0;
  box-sizing: border-box;
}

.profile {
  position: absolute;
  width: 52px;
  height: 52px;
  left: 1661px;
  top: 19px;
}

.auto-layout {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  justify-content: space-between;
}

.navigation {
  position: absolute;
  width: 798px;
  height: 28px;
  left: 184px;
  top: 31px;
}

.word-style {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 28px;
  text-decoration: none;
}

.dark-blue {
  color: #080029;
}

.current-section {
  font-weight: bold;
}

.y-line {
  position: absolute;
  width: 90px;
  height: 760px;
  top: 0;
  left: 0;
}

.y-navigation {
  position: relative;
  width: 0;
  height: 590px;
  left: 45px;
  top: 130px;
}

.butons {
  width: 86px;
  height: 86px;
  border: none;
  outline: none;
}

.up-button {
  position: absolute;
  left: -43px;
  top: -40px;
  background: url(media/up.png);
}

.down-button {
  position: absolute;
  left: -43px;
  top: 542px;
  background: url(media/down.png);
}

.animal-navigation {
  position: absolute;
  width: 55px;
  height: 436px;
  left: 17px;
  top: 205px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.el-button {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: #fcfcfc;
}

.width-blue {
  border: 2px solid #d9e8ff;
  box-sizing: border-box;
}

.el-button > img {
  margin: auto;
}
