/* html {
  overflow-x: hidden;
} */

body {
  width: 1920px;
  max-height: 6290px;
  background: #fcfcfc;
}
header {
  position: absolute;
  width: 1920px;
  height: 870px;
  left: 0;
  top: 0;
}

.header__div {
  position: absolute;
  width: 1800px;
  height: 760px;
  left: 88px;
  top: auto;
}

nav {
  position: absolute;
  width: 1800px;
  height: 90px;
  left: 0;
  top: 0;

  background: rgba(252, 252, 252, 0.02);
  border: 2px solid #f0f0f0;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.nav__items {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  margin: 0;

  position: absolute;
  width: 800px;
  height: 28px;
  left: 184px;
  top: 33px;
  list-style-type: none;
}

.nav__items__item {
  flex: none;
  flex-grow: 0;
  margin-right: 130px;
}

#design-container {
  margin-right: 0;
}

.nav-style {
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 154%;
  text-decoration: none;
}

.dark-blue {
  color: #080029;
}

.logo {
  position: absolute;
  width: 51.87px;
  height: 40px;
  left: 16px;
  top: 25px;
  margin: 0;
  padding: 0;
}

#header__img {
  position: absolute;
  width: 696px;
  height: 673px;
  left: 980px;
  top: 170px;

  border-radius: 5px;
}

#about {
  position: static;
  order: 0;
  width: 54px;
  left: 0;
  top: 0;
  font-weight: 500;
}

#map {
  position: static;
  order: 1;
}

#zoos {
  order: 2;
}

#contact-us {
  order: 3;
}

#design {
  order: 4;
}

.profile {
  position: absolute;
  width: 52px;
  height: 52px;
  left: 1656px;
  top: 19px;
}

/* side bar */
.side-bar {
  position: fixed;
  width: 90px;
  height: 760px;
  /* left: 90px; */
  top: 0;

  background: rgba(252, 252, 252, 0.02);
  border: 2px solid #f0f0f0;
  box-sizing: border-box;
  /* transform: rotate(90deg); */
  z-index: 2;
}

.media {
  position: absolute;
  width: 24px;
  height: 172px;
  left: 33px;
  top: 340px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.media-element {
  margin: 50px 0;
}

.go-up-button {
  position: absolute;
  left: 21px;
  top: 660px;
}

/*  Watch your favorite animal online */
.header-description {
  position: relative;
  width: 699px;
  height: 488px;
  left: 154px;
  top: 245px;
  padding: 0px;
}

.header-description h2 {
  width: 120px;
  height: 26px;
  top: 2px;
}

.h2-tag {
  position: absolute;
  margin: 0;
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 11.5%;
  color: #626262;
  left: 2px;
}

#dot {
  position: absolute;
  /* border: 2px solid #d00000; */
  border-radius: 50%;
  background: #d00000;
  width: 14.31px;
  height: 13.73px;
  left: 139px;
  top: 226.95px;
}

h1 {
  font-family: "Merriweather", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 84px;
  line-height: 106px;
  margin: 0px;
}

.header-description-main {
  position: absolute;
  width: 697px;
  height: 318px;
  left: 2px;
  top: 53px;
}

.header-button-form {
  position: absolute;
  width: 605px;
  height: 67px;
  left: 2px;
  top: 421px;
}

.button-style_header {
  width: 250px;
  height: 61px;
  border-radius: 5px;
  border: 2px solid #080029;

  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 18px;
}

.dark-button {
  background: #080029;
  color: #fff;
}

.light-button {
  background: #fff;
  color: #080029;
}

#watch-header {
  position: absolute;
  left: 312px;
  font-weight: 700;
}

/* how zoo works */
.how-zoo-works-section {
  position: absolute;
  width: 1920px;
  height: 980px;
  top: 870px;
  left: 0;
}

.lion-pic {
  position: absolute;
  width: 512px;
  height: 760px;
  left: 244px;
  top: 110px;
  border-radius: 5px;
}

.how-zoo-works-about {
  position: absolute;
  width: 696px;
  height: 477px;
  left: 980px;
  top: 249px;
  padding: 0;
}

#zoo-works-heading {
  position: absolute;
  width: 296px;
  height: 26px;
  font-size: 22px;
  color: #0b0b0b;
}

#zoo-works-main {
  position: absolute;
  width: 696px;
  height: 156px;
  top: 76px;
}

h3 {
  font-family: "Merriweather", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 145%;
  margin: 0;
}

.gray {
  color: #747474;
}

.body {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 154%;
}

#zoo-works-description {
  position: absolute;
  width: 693px;
  height: 84px;
  top: 272px;
  margin: 0;
}

.how-zoo-works-about form {
  position: absolute;
  width: 218px;
  height: 61px;
  top: 416px;
}

#try-now-button {
  width: 218px;
  background: #0f0049;
  border-color: #0f0049;
}

/* Famous pets */
.famous-pets__section {
  position: absolute;
  width: 1920px;
  height: 980px;
  top: 1850px;
  left: 0;
  background: #d9e8ff;
  z-index: 1;
}

.slider-txt-nav {
  position: absolute;
  width: 326px;
  height: 364px;
  left: 243px;
  top: 305px;
}

#famous-pets {
  width: 157px;
  height: 26px;
  left: 1px;
  top: 12px;
}

.black-color {
  color: #0b0b0b;
}

#famous-pets__description {
  position: absolute;
  width: 325px;
  height: 156px;
  left: 1px;
  top: 88px;
}

.auto-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}

.slider-nav {
  position: absolute;
  width: 155px;
  height: 65px;
  left: 1px;
  top: 299px;
}

.bb {
  outline: none;
}

.animal-cards {
  position: relative;
  width: 1064px;
  height: 696px;
  left: 612px;
  top: 100px;
  /* overflow-x: scroll; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  overflow: hidden;
}

.animal-card {
  position: relative;
  width: 328px;
  height: 326px;
  border-radius: 5px;
}

#first-pic {
  background: url(media/pets/red-panda.png);
  position: relative;
  width: 328px;
  height: 326px;
  border-radius: 5px;

  background-size: 100% 100%;
  transition: background-size 0.3s ease-in;
}

#second-pic {
  background: url(media/pets/pinguin.png);
  position: relative;
  width: 328px;
  height: 326px;
  border-radius: 5px;

  background-size: 100% 100%;
  transition: background-size 0.3s ease-in;
}
#third-pic {
  background: url(media/pets/squrell.png);
  position: relative;
  width: 328px;
  height: 326px;
  border-radius: 5px;

  background-size: 100% 100%;
  transition: background-size 0.3s ease-in;
}
#fourth-pic {
  background: url(media/pets/panda.png);

  position: relative;
  width: 328px;
  height: 326px;
  border-radius: 5px;

  background-size: 100% 100%;
  transition: background-size 0.3s ease-in;
}
#fifth-pic {
  background: url(media/pets/eagle.png);
  position: relative;
  width: 328px;
  height: 326px;
  border-radius: 5px;

  background-size: 100% 100%;
  transition: background-size 0.3s ease-in;
}
#sixth-pic {
  background: url(media/pets/gorilla.png);
  position: relative;
  width: 328px;
  height: 326px;
  border-radius: 5px;

  background-size: 100% 100%;
  transition: background-size 0.3s ease-in;
}

#first-pic:hover {
  background-size: 105% 105%;
}
#second-pic:hover {
  background-size: 105% 105%;
}
#third-pic:hover {
  background-size: 105% 105%;
}
#fourth-pic:hover {
  background-size: 105% 105%;
}
#fifth-pic:hover {
  background-size: 105% 105%;
}
#sixth-pic:hover {
  background-size: 105% 105%;
}

.figure {
  position: absolute;
  width: 76px;
  height: 76px;
  left: 126px;
  top: 163px;

  border: 2px solid rgba(252, 252, 252, 0.6);
  border-radius: 50%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.plus {
  position: absolute;
  width: 28px;
  height: 64px;
  left: 24px;
  top: 5px;
}

.pic-position {
  position: absolute;
  width: 104px;
  height: 21px;
  left: 111px;
  top: 282px;
}
.pic-description {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #fcfcfc;
  opacity: 0.8;
  text-decoration: none;
}

.animal-card:hover .figure {
  position: absolute;
  width: 238px;
  height: 238px;
  left: 45px;
  top: 30px;

  background: rgba(11, 11, 11, 0.1);
  border: 2px solid rgba(252, 252, 252, 0.3);
}

.animal-card:hover .pic-position {
  position: absolute;
  width: 101px;
  height: 26px;
  left: 117px;
  top: 282px;
}

.animal-card:hover .descr-before {
  display: none;
}

.animal-card .descr-after {
  display: none;
}

.animal-card:hover .descr-after {
  display: inline;
}

.descr-after > img {
  position: absolute;
  top: 4px;
}

.plus-before {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 44px;
  line-height: 145%;
  text-align: center;

  color: #fcfcfc;
  opacity: 0.8;
}

.plus-after {
  position: absolute;
  width: 189px;
  height: 28px;
  left: 0px;
  top: 100px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  padding: 0;
}

.animal-card:hover .plus-before {
  display: none;
}

.animal-card .plus-after {
  display: none;
}

.animal-card:hover .plus-after {
  display: inline;
}

.info-position {
  height: 84px;
  top: 75px;
  left: -2px;
}

.info-position-s {
  top: 95px;
  left: 0px;
}

#p-info {
  left: 3px;
}

#e-info {
  left: 3px;
  top: 95px;
  text-align: center;
}

#g-info {
  left: 3px;
  top: 81px;
}

/* pay and feed */
.pay-and-feed-section {
  position: absolute;
  width: 1920px;
  height: 1300px;
  left: 0;
  top: 2830px;

  background: #fcfcfc;
}

#pay-feed {
  position: absolute;
  width: 132px;
  height: 26px;
  left: 428px;
  top: 100px;
}

.step-container {
  position: absolute;
  width: 824px;
  height: 312px;
}

.illustration {
  position: absolute;
  width: 312px;
  height: 312px;
  right: 62.14%;
}

#safe-container {
  left: 428px;
  top: 156px;
}

#delivery-container {
  left: 980px;
  top: 528px;
}

#meeting-container {
  left: 244px;
  top: 887px;
}

.group {
  position: absolute;
  width: 278px;
  height: 214px;
  left: 17px;
  top: 52px;
}

#safe-ill {
  background: url(media/pay-and-feed/safe.png);
}

#delivery-ill {
  background: url(media/pay-and-feed/delivery.png);
}

#meeting-ill {
  background: url(media/pay-and-feed/meeting.png);
}

.txt {
  position: relative;
  width: 456px;
  height: 166px;
  left: 368px;
  top: 55px;
}

#delivery-txt {
  top: 104px;
}

#meeting-txt {
  height: 218px;
  top: 41px;
}

.blue {
  color: #0f0049;
}

#safe-step-name {
  position: absolute;
  width: 338px;
  height: 52px;
}

#delivery-step-name {
  position: absolute;
  width: 440px;
}

#meeting-step-name {
  position: absolute;
  width: 363px;
  height: 104px;
}

.step-description {
  position: absolute;
  width: 456px;
  height: 84px;
  top: 82px;
}

#meeting-description {
  top: 134px;
}

#f-arrow {
  position: absolute;
  width: 194px;
  height: 183px;
  left: 980px;
  top: 302px;
}

#s-arrow {
  position: absolute;
  width: 328px;
  height: 143px;
  left: 612px;
  top: 690px;
}

#first-arrow {
  position: absolute;
  width: 197px;
  height: 97px;
  left: -78px;
  top: 112.5px;
}

#second-arrow {
  position: absolute;
  width: 240.45px;
  height: 194.46px;
  left: 101.55px;
  top: -15.46px;
}

/* testimonials */
.testimonials-section {
  position: absolute;
  width: 1920px;
  height: 616px;
  top: 4046px;
  left: 0;
  background: #080029;
}

#testimonials-signature {
  position: absolute;
  width: 513px;
  height: 292px;
  left: 243px;
  top: 100px;
}

.white {
  color: #fcfcfc;
}

#test-head {
  position: absolute;
  width: 156px;
  height: 26px;
  left: 1px;
}

#test-main-head {
  position: absolute;
  width: 408px;
  height: 52px;
  left: 1px;
  top: 88px;
}

#test-descr {
  position: absolute;
  width: 512px;
  height: 112px;
  left: 1px;
  top: 180px;
  margin: 0;
}

.st-button-form {
  position: absolute;
  width: 301px;
  height: 64px;
  left: 244px;
  top: 452px;
}

#leave-feedback-button {
  position: absolute;
  width: 286px;
  border: 2px solid #fcfcfc;
  box-sizing: border-box;
  outline: none;
}

.reviews {
  position: absolute;
  width: 1064px;
  height: 414px;
  left: 796px;
  top: 102px;
  border: 2px solid cyan;
}

.see-rev-button {
  position: absolute;
  width: 218px;
  height: 26px;
}

#see-more-revievs {
  position: absolute;
  width: 183px;
  height: 21px;
}

.btn {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
}

#arr-m {
  width: 21px;
}

.revievs-field {
  position: relative;
  width: 1064px;
  height: 273px;
  left: 0;
  top: 46px;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  padding: 0;
}

.reviev-area {
  width: 512px;
  height: 273px;
  background: #fcfcfc;
  border-radius: 15px;
  margin: 0;
}
