html {
  overflow-x: hidden;
}

body {
  width: 1920px;
  max-height: 6290px;
  background: #fcfcfc;
}
header {
  position: absolute;
  width: 1920px;
  height: 870px;
  left: 0;
  top: 0;
}

.header__div {
  position: absolute;
  width: 1800px;
  height: 760px;
  left: 88px;
  top: auto;
}

nav {
  position: absolute;
  width: 1800px;
  height: 90px;
  left: 0;
  top: 0;

  background: rgba(252, 252, 252, 0.02);
  border: 2px solid #f0f0f0;
  box-sizing: border-box;
}

.nav__items {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  margin: 0;

  position: absolute;
  width: 800px;
  height: 28px;
  left: 184px;
  top: 33px;
  list-style-type: none;
}

.nav__items__item {
  flex: none;
  flex-grow: 0;
  margin-right: 130px;
}

#design-container {
  margin-right: 0;
}

.nav-style {
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 154%;
  text-decoration: none;
}

.dark-blue {
  color: #080029;
}

.logo {
  position: absolute;
  width: 51.87px;
  height: 40px;
  left: 18.85px;
  top: 25px;
}

#header__img {
  position: absolute;
  width: 696px;
  height: 673px;
  left: 980px;
  top: 170px;

  border-radius: 5px;
}

#about {
  position: static;
  order: 0;
  width: 54px;
  left: 0;
  top: 0;
  font-weight: 500;
}

#map {
  position: static;
  order: 1;
}

#zoos {
  order: 2;
}

#contact-us {
  order: 3;
}

#design {
  order: 4;
}

.profile {
  position: absolute;
  width: 52px;
  height: 52px;
  left: 1656px;
  top: 19px;
}

/* side bar */
.side-bar {
  position: fixed;
  width: 90px;
  height: 760px;
  /* left: 90px; */
  top: 0;

  background: rgba(252, 252, 252, 0.02);
  border: 2px solid #f0f0f0;
  box-sizing: border-box;
  /* transform: rotate(90deg); */
  z-index: 2;
}

.media {
  position: absolute;
  width: 24px;
  height: 172px;
  left: 33px;
  top: 340px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.media-element {
  margin: 50px 0;
}

.go-up-button {
  position: absolute;
  left: 21px;
  top: 660px;
}

/*  Watch your favorite animal online */
.header-description {
  position: relative;
  width: 699px;
  height: 488px;
  left: 154px;
  top: 245px;
  padding: 0px;
}

.header-description h2 {
  width: 120px;
  height: 26px;
  top: 2px;
}

.h2-tag {
  position: absolute;
  margin: 0;
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.115em;
  color: #626262;
  left: 2px;
}

#dot {
  position: absolute;
  /* border: 2px solid #d00000; */
  border-radius: 50%;
  background: #d00000;
  width: 14.31px;
  height: 13.73px;
  left: 139px;
  top: 226.95px;
}

h1 {
  font-family: "Merriweather", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 84px;
  line-height: 106px;
  margin: 0px;
}

.header-description-main {
  position: absolute;
  width: 697px;
  height: 318px;
  left: 2px;
  top: 53px;
}

.header-button-form {
  position: absolute;
  width: 605px;
  height: 67px;
  left: 2px;
  top: 421px;
}

.button-style_header {
  width: 250px;
  height: 61px;
  border-radius: 5px;
  border: 2px solid #080029;

  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 18px;
}

.dark-button {
  background: #080029;
  color: #fff;
}

.light-button {
  background: #fff;
  color: #080029;
}

#watch-header {
  position: absolute;
  left: 312px;
  font-weight: 700;
}

/* how zoo works */
.how-zoo-works-section {
  position: absolute;
  width: 1920px;
  height: 980px;
  top: 870px;
  left: 0;
}

.lion-pic {
  position: absolute;
  width: 512px;
  height: 760px;
  left: 244px;
  top: 110px;
  border-radius: 5px;
}

.how-zoo-works-about {
  position: absolute;
  width: 696px;
  height: 477px;
  left: 980px;
  top: 249px;
  padding: 0;
}

#zoo-works-heading {
  position: absolute;
  width: 296px;
  height: 26px;
  font-size: 22px;
  color: #0b0b0b;
}

#zoo-works-main {
  position: absolute;
  width: 696px;
  height: 156px;
  top: 76px;
}

h3 {
  font-family: "Merriweather", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 145%;
  margin: 0;
}

.gray {
  color: #747474;
}

.body {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 154%;
}

#zoo-works-description {
  position: absolute;
  width: 693px;
  height: 84px;
  top: 272px;
  margin: 0;
}

.how-zoo-works-about form {
  position: absolute;
  width: 218px;
  height: 61px;
  top: 416px;
}

#try-now-button {
  width: 218px;
  background: #0f0049;
  border-color: #0f0049;
}

/* Famous pets */
.famous-pets__section {
  position: absolute;
  width: 1920px;
  height: 980px;
  top: 1850px;
  left: 0;
  background: #d9e8ff;
  z-index: 1;
}

.slider-txt-nav {
  position: absolute;
  width: 326px;
  height: 364px;
  left: 243px;
  top: 305px;
}

#famous-pets {
  width: 157px;
  height: 26px;
  left: 1px;
  top: 12px;
}

.black-color {
  color: #0b0b0b;
}

#famous-pets__description {
  position: absolute;
  width: 325px;
  height: 156px;
  left: 1px;
  top: 88px;
}

.auto-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}

.slider-nav {
  position: absolute;
  width: 155px;
  height: 65px;
  left: 1px;
  top: 299px;
}

.animal-cards {
  position: relative;
  width: 1064px;
  height: 696px;
  left: 612px;
  top: 100px;
  /* overflow-x: scroll; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.animal-card {
  /* position: absolute; */
  width: 328px;
  height: 326px;
  border-radius: 5px;
}

#first-pic {
  background: url(media/pets/red-panda.png);
}

#second-pic {
  background: url(media/pets/pinguin.png);
}
#third-pic {
  background: url(media/pets/squrell.png);
}
#fourth-pic {
  background: url(media/pets/panda.png);
}
#fifth-pic {
  background: url(media/pets/eagle.png);
}
#sixth-pic {
  background: url(media/pets/gorilla.png);
}
